
body{
    padding: 0;
    margin: 0;
    font-family: 'Foldit', cursive;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-family:Arial, Helvetica, sans-serif; */
    color: red;
}

a{
    text-decoration: none;
    font-style: none;
}
.title{
    font-size: 150px;
    font-weight: 700;
}
.subtxt{
    margin-bottom: 30px;
    padding: 40px;
    background:linear-gradient(30deg,red,blue);
    border-radius: 100px;
    /* width:inherit; */
    display: block;
    border:solid 5px yellowgreen;
    transition: transform 1000ms;
}

.subtxt:hover,:focus-visible{
    background:linear-gradient(90deg,blue,red);
    border-color: rgb(0, 84, 84);
    transition: 1000ms;
    transform: translateY(-1.75rem);
    transition:transform 250ms;
    cursor: pointer;
}


.content-wrapper{
    padding: 50px 0;
}

.title-span{
    font-weight: 300;
    text-shadow: ;
}

.sb-title{
    font-size: 30px;
}


.textcenter{
    text-align: center;
}

.textleft{
    text-align: center;
}

.textright{
    text-align: right;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
}

.width100{
    width: 100%;
}


.bt1{
    width: 120px;
    margin: 0 auto;
    padding: 20px 50px;
    background-color: antiquewhite;
    background:linear-gradient(90deg,red,blue);
    font-size: 18px;
    color: white;
    font-weight: 400;
    border-radius: 0.5rem;
    border: solid 0.25rem red;
    /* background-blend-mode:lighten; */
    transition: 9000ms;
}


.bt1:hover,
:focus-visible
        {
            /* transform: translate(0,80%); */
            /* border-color: blue;
            transition: 1000ms; */
            background:linear-gradient(50deg,blue,red);
            border-color: aqua;
            transition: 1000ms;
        }

.party-time{
    animation: party 5000ms infinite;
}




@keyframes party{
    50%{
        background-color: blueviolet;
        rotate: 180deg;
    }
}