body{
    background-color: rgb(255, 255, 255);
    margin: 0px;
    padding:0px;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: none;
    color: rgb(99, 129, 149);
}
a{
    text-decoration: none;
    color: rgb(99, 129, 149);
}
p{
    padding-bottom: 30px;
    margin: 0;
    font-size: 17px;
    text-align: center;
    color: rgba(99, 129, 149, 0.679);
}

h2{
    margin: 0px;
    padding: 0px 0px 10px 0px;
    text-align: center;
    font-size: 40px;

}
h5{
   padding: 0;
   margin: 0; 
}
.container{
    margin: 0 auto;
    max-width: 1100px;
    /* background-color: rgb(198, 255, 255); */
}

.center-content{
    text-align: center;
    max-width:1200px;
    margin:0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.h2{
    font-size: 40px;
    padding-bottom: 10px;
    font-weight: bold;
    color: white;
}
.h2-p{
    color: #8da3bb;
}

.header1{
    background-color: rgb(241, 242, 243);
    padding:6px 0px;
}
.header2{
    padding: 5px 0;
    background-color: rgb(255, 255, 255);
}
.carousal{
    position: relative;
    color: white;
    float: left;
    font-size: xx-large;
}

.header-padding{
    padding: 50px 0px;
}

.hi{
    background-image: url(../img/carousel1.jpg);
    width: 100%;
    height: 100%;
}
.width100{
    width: 100%;
}
.width33{
    width: 33.33%;
}
.height100{
    height: 100%;
}
.width30{
    width: 20%;
 }
 .width60{
    width: 70%;
 }
 .width25{
    width:25%;
 }
 .width10{
    width: 10%;
 }
 .height40{
    height: 20px;
 }

 .padding15{
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 0px;
 }
 .bottompadding{
    padding-bottom: 20px;
 }

 .padding25{
    padding: 50px 15px 50px 15px;
 }
 .padding5{
    padding: 5px 0px;
 }

 .padding10{
    padding-top: 5px;
 }
 .toppad20{
    padding-top: 20px;
}
.padding-bottomtop{
    padding-top: 20px;
    padding-bottom: 20px;
}

 .xlarge{
    font-size: 20px;
    padding-bottom: 15px;
    margin: 0px;
 }


.ul1{
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: inline-flex;
}
.ul2{
    list-style: none;
    padding: 0px;
    margin: 0px;
    font-weight: normal;
    text-decoration: none;
}
.ul2 li{
    padding: 2px 0px;
}

.button1{
    width: 150px;
    padding:12px 25px;
    color: rgb(125, 113, 113);
    background-color: rgb(33, 182, 142);
    font-size: 15px;
    border-radius: 6px;
    border:solid 2px rgba(255, 255, 255, 0);
    display: block;
}
.button1 a{
    color: white;
}

.links:hover{
    color: red;
}

.contact-li{
    padding-right: 15px;
}
.social-li{
    padding-left: 20px;
}
.nav-li{
    padding:0 20px;
    font-weight:900;
}

.absolute{
    position: absolute;
}
.relative{
    position: relative;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
 .float-left{
    float: left;
 }

.margin-auto{
    margin: auto auto;
}
.margin-top{
    margin-top: 20px;
}
.margin-top-search{
    margin-top: 15px;
}
.margin-top5{
    margin-top: 10px;
}
.text-right{
    text-align: right;
 }
 .text-justify{
    text-align:justify;
}


 .width50{
    width: 50%;
 }


 .icons{
    width: 15px;
    height: 15px;
    padding-right: 3px;
    margin-bottom: -3px;
 }
 .logo{
    padding-bottom: 5px;
    height: 30px;
 }

 .miniicons{
    width: 11px;
    height: 8px;
    padding-right: 2px;
    padding-top: 2px;
 }
.search{
    padding: 5px;
    border-radius: 15px;
    margin-bottom: 5px;
}
.search:hover{
    background-color: red;
}


 .inline-flex{
    display: inline-flex;
 }


.cards{
    padding-bottom: 50px;
}



 .card3{
    background-color: rgb(255, 255, 255);
    padding-right: 20px;
 }

 .card3 img{
    padding-right: 5px;
 }
.carddata{
    border: solid 0.5px rgb(176, 170, 170);
    margin-top: -3px;
    border-radius: 0px 0px 2px 2px;
    padding: 0px 0px 0px 0px;
}
.carddata p{
    padding-top: 5px;
}

 
 .works{
    background-color: rgb(241, 242, 243);
 }

 .footer{
    background-color: rgb(47, 64, 82);
 }
 .footer1{
    background-color: rgb(33, 46, 59);
 }

 .footerp{
    text-align: left;
 }

 .white{
    color: white;
 }
 .pcolor{
        color:rgba(164, 180, 195, 0.792)
 }

 h4{
    padding: 0;
    margin: 0;
 }

 .xtralarge{
    padding-bottom: 20px;
    font-size: 120px;
 }

 .footerp{
    text-align: justify;
    padding-top:2px;
    font-size: 12px;
    font-weight: normal;
 }
 
.pcolor1{
    color:rgb(164, 180, 195)
 }

 .bold{
    font-weight:bolder;
 }

 .footpic{
    height:62px;
    width: 115px;
    padding: 1px;
 }

 .textbox{
    width: 70%;
    height: 20px;
    border: none;
    background-color:rgb(79, 92, 110);

 }

 .textbox::click{
    background-color: rgb(79, 92, 110);
    border-style: none;
 }

 .textbox::placeholder{
    font-size: 10px;
    color: #8da3bb;
 }
 .subbutton{
    width: 30%;
    background-color: rgb(33, 182, 142);
    border-style: none;
    border-radius: 2px;
    color: white;
    padding: 1px;
 }
 .subbutton:hover{
    background-color: white;
    color: rgb(33, 182, 142);
    cursor:pointer;
 }

 .mail{
    padding: 3px 3px;
    background-color:rgb(79, 92, 110);
    border-radius: 2px;
    
 }