body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
ul{
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5, h6{
    padding: 0;
    margin: 0;
}


p{
    padding: 5px 0;
    margin: 0;
    font-size: 12px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: rgb(9, 198, 9);
}










.header1{
    padding:15px 0px;
    margin: auto 0;
    background-color: rgb(235, 235, 235);
}

.container{
    margin: 0 auto;
    max-width: 1100px;
}

.header2{
    padding: 30px 0px;
    background-color: rgb(255, 255, 255);

}

.nav{
    background-color: rgba(0, 0, 0, 0.782);
    color: white;
    padding: 23px 0px;
}

.carousal{
    background-image: url(../img/citymetal.jpg);
    background-size:cover;
    background-position: center;
    position: relative;
    float: left;
    width: 100%;
}

.center-content{
    position: absolute;
    margin: 0 auto;
    max-width: 1100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


.maincontent{
    /* background-color: aliceblue;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; */
    text-align: left;
    padding-left: 50px;
    padding-right: 28%;
    padding-top: 60px;
    padding-bottom: 80px;
}









.float-left{
    float: left;
}

.inline-flex{
    display: inline-flex;
}

.width50{
    width: 50%;
}
.width100{
    width: 100%;
}
.width70{
    width: 70%;
}
.width80{
    width: 80%;
}
.width20{
    width: 20%;
}
.width30{
    width: 30%;
}
.width25{
    width: 25%;
}

.height250{
    height: 600px;
}

.picheight{
    height: 250vh;
}

.height500{
    height: 500px;
}

.height100{
    height: 100%;
}

.paddingright10{
    padding-right: 20px;
}

.textright{
    text-align: right;
}
.textleft{
    text-align: left;
}

.clr{
    color: rgb(140, 142, 143);
}
.mrgintop{
    margin-top: 10px;
}

.overflow{
    text-overflow: hidden;
}

.white{
    color: white;
}


.rightborder{
    border-right: solid 2px rgba(188, 189, 189, 0.681);
}



.headericon{
    height: 15px;
}



.icons{
    height: 13px;
    padding-left: 10px;
}

.tick-icon{
    width: 15px;
    height: 15px;
    padding-right: 5px;
    padding-top: 5px;
    padding-left: 15px;
}

.button1{
    color: rgb(234, 192, 65);
    background-color: black;
    border-radius: 4px;
    padding: 10px 30px;
    border: none;
}
.button2{
    background-color: rgb(234, 192, 65);
    color: black;
    border-radius: 4px;
    padding: 16px 40px;
    border: none;
}

.logo{
    width: 250px;
    height: 50px;
}

.header2title{
    font-family:"Hind",sans-serif;
    font-size: 16px;
    color: black;
    font-weight:600;
    padding: 0;
}

.maincontent-title{
    font-size: 35px;
    padding-bottom: 20px;
}

.maincontent-p{
    font-size: 18px;
    line-height: 1.6;
}





.nav a{
    color: white;
    padding-right: 33px;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Hind',sans-serif;
}




.contact-li{
    padding-right: 20px;
}
/* 
.contact-li p{
  margin: auto 0;

} */

.social-li{
    padding-left: 8px;
}

.brand-li{

}

.title1{
    margin: auto 0;
}



