body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
ul{
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}
h3{
    padding: 0;
    margin: 0;
}

.ul1{
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
}
p{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: rgb(9, 198, 9);
}


.header1{
    padding:20px 0px;
    background-color: rgb(235, 235, 235);
}

.container{
    margin: 0 auto;
    max-width: 1100px;
}

.header2{
    padding: 35px 0px;
    background-color: rgb(255, 255, 255);

}

.nav{
    background-color: black;
    color: white;
    padding: 23px 0px;
}


.maincontent{
    background-color: aliceblue;
    height: 100%;
}









.float-left{
    float: left;
}

.inline-flex{
    display: inline-flex;
}

.width50{
    width: 50%;
}
.width100{
    width: 100%;
}
.width70{
    width: 70%;
}
.width80{
    width: 80%;
}
.width20{
    width: 20%;
}
.width30{
    width: 30%;
}
.width25{
    width: 25%;
}

.height250{
    height: 600px;
}

.height100{
    height: 100%;
}

.paddingright10{
    padding-right: 30px;
}

.textright{
    text-align: right;
}
.textleft{
    text-align: left;
}






.headericon{
    height: 15px;
}

.icons{
    height: 13px;
    padding-left: 10px;
}

.button1{
    color: rgb(234, 192, 65);
    background-color: black;
    border-radius: 4px;
    padding: 10px 30px;
    margin-top: -10px;
    border: none;
}
.button2{
    background-color: rgb(234, 192, 65);
    color: black;
    border-radius: 4px;
    padding: 16px 40px;
    border: none;
}

.logo{
    width: 250px;
    height: 50px;
}



.nav a{
    color: white;
    padding-right: 33px;
    font-size: 14px;
    font-weight: bold;
}




.contact-li{
    padding-right: 20px;
}

.contact-li p{
  margin: auto 0;

}

.social-li{
    padding-left: 8px;
}

.brand-li{

}



