body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
ul{
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.ul1{
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
}
p{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: rgb(9, 198, 9);
}


.header1{
    padding:20px 0px;
    background-color: rgb(248, 241, 241);
}

.container{
    margin: 0 auto;
    max-width: 1100px;
}

.header2{
    padding: 25px 0px;
    background-color: aliceblue;

}










.float-left{
    float: left;
}

.inline-flex{
    display: inline-flex;
}

.width50{
    width: 50%;
}
.width100{
    width: 100%;
}
.width70{
    width: 70%;
}
.width80{
    width: 80%;
}
.width20{
    width: 20%;
}
.width30{
    width: 30%;
}
.width25{
    width: 25%;
}

.textright{
    text-align: right;
}
.textleft{
    text-align: left;
}






.headericon{
    height: 15px;
}

.icons{
    height: 13px;
    padding-left: 10px;
}

.button1{
    color: rgb(236, 236, 1);
    background-color: black;
    border-radius: 4px;
    padding: 10px 25px;
    margin-top: -10px;
    border: none;
}
.button2{
    background-color: rgb(236, 236, 1);
    color: black;
    border-radius: 4px;
    padding: 15px 25px;
    border: none;
}

.logo{
    width: 250px;
    height: 50px;
}



.contact-li{
    padding-right: 20px;
}

.contact-li p{
  margin: auto 0;

}

.social-li{
    padding-left: 8px;
}



