body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
ul{
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5, h6{
    padding: 0;
    margin: 0;
}

h5{
    font-weight: normal;
}



p{
    padding: 5px 0;
    margin: 0;
    font-size: 12px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: rgb(9, 198, 9);
}




.header1{
    padding:15px 0px;
    margin: auto 0;
    background-color: rgb(235, 235, 235);
}

.container{
    margin: 0 auto;
    max-width: 1100px;
}

.header2{
    padding: 30px 0px;
    background-color: rgb(255, 255, 255);

}

.nav{
    background-color: rgba(0, 0, 0, 0.782);
    color: white;
    padding: 23px 0px;
}

.carousal{
    background-image: url(img/citymetal.jpg);
    background-size:cover;
    background-position: center;
    position: relative;
    float: left;
    width: 100%;
}

.carousal2{
    background-image: url(img/night.jpg);
    background-size:cover;
    background-position: center;
    position: relative;
    float: left;
    width: 100%;
}

.center-content{
    position: absolute;
    margin: 0 auto;
    max-width: 1100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.mainpic{
    background-image: url(img/morning\ \(1\).jpg);
    background-position: center;
    background-size: cover;
}


.main{
    background-color: rgb(255, 255, 255);
}

.clr2{
    background-color: rgb(235, 235, 235);
}

.rightcontent{
    /* background-color: aliceblue;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; */
    text-align: left;
    padding-left: 80px;
    padding-right: 200px;
    padding-top: 90px;
    padding-bottom: 80px;
}
.lefttcontent{
    text-align: left;
    padding-right: 80px;
    padding-top: 90px;
    padding-bottom: 80px;
}

.rightcontent2{
    /* background-color: aliceblue;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; */
    text-align: left;
    padding-left: 10px;
    
    padding-bottom: 10px;
    padding-top: 90px;
    padding-bottom: 80px;
}

.subcontent{
    padding-bottom: 30px;
    font-size: 16px;
}

.cards-section{
    background-color: rgb(235, 235, 235);
    padding-top: 50px;
    padding-bottom: 50px;
}

.cards{
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
}

.card-content{
    background-color: rgb(255, 255, 255);
}

.card-title{
    padding-top: 35px;
    padding-bottom: 8px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 1.5px;
    
}

.card-data{
    padding-bottom: 25px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 12px;
    font-style: italic;
    color: rgb(162, 162, 162);
    font-weight:lighter;
}










.float-left{
    float: left;
}

.inline-flex{
    display: inline-flex;
}

.width60{
    width: 60%;
}
.width50{
    width: 50%;
}
.width100{
    width: 100%;
}
.width70{
    width: 70%;
}
.width80{
    width: 80%;
}
.width20{
    width: 20%;
}
.width30{
    width: 30%;
}
.width25{
    width: 25%;
}

.height250{
    height: 550px;
}

.picheight{
    height: 250vh;
}

.height500{
    height: 500px;
}

.height100{
    height: 100%;
}

.paddingright10{
    padding-right: 20px;
}

.paddingright50{
    padding-right: 50px;
    padding-top: 20px;
}

.textright{
    text-align: right;
}
.textleft{
    text-align: left;
}
.textcenter{
    text-align: center;
}
.headercards{
    padding-top:30px;
    padding-bottom: 60px;
    font-size: 45px;
}

.clr{
    color: rgb(140, 142, 143);
}
.mrgintop{
    margin-top: 10px;
}

.overflow{
    text-overflow: hidden;
}

.white{
    color: white;
}

.black{
    background-color: black;
}

.rightborder{
    border-right: solid 2px rgba(188, 189, 189, 0.681);
}



.headericon{
    height: 15px;
}



.icons{
    height: 13px;
    padding-left: 10px;
}

.tick-icon{
    width: 15px;
    height: 15px;
    padding-right: 5px;
    padding-top: 5px;
    padding-left: 15px;
}
.tick-icon2{
    width: 15px;
    height: 15px;
    padding-right: 5px;
    padding-top: 5px;
}

.button1{
    color: rgb(234, 192, 65);
    background-color: black;
    border-radius: 4px;
    padding: 10px 30px;
    border: none;
}
.button2{
    background-color: rgb(234, 192, 65);
    color: black;
    border-radius: 4px;
    padding: 16px 40px;
    border: none;
}

.button3{
    color: black;
    border: solid 1px rgb(234, 192, 65);
    padding: 20px 30px;
    border-radius: 3px;
}

.button3:hover{
    color: rgb(234, 192, 65);
    background-color: black;
    border: none;
}

.logo{
    width: 250px;
    height: 50px;
}

.header2title{
    font-family:"Hind",sans-serif;
    font-size: 16px;
    color: black;
    font-weight:600;
    padding: 0;
}

.rightcontent-title{
    font-size: 35px;
    padding-bottom: 20px;
}

.rightcontent-p{
    font-size: 18px;
    line-height: 1.6;
}
 .rightcontent-li{
    padding-bottom: 10px;
    font-size: 16px;
    color: rgb(140, 142, 143);
 }




.nav a{
    color: white;
    padding-right: 33px;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Hind',sans-serif;
}




.contact-li{
    padding-right: 20px;
}
/* 
.contact-li p{
  margin: auto 0;

} */

.social-li{
    padding-left: 8px;
}

.brand-li{

}

.title1{
    margin: auto 0;
}

.subcontent img{
    padding-right: 30px;
}

.about-title{
    font-size: 21px;
    padding: 10px 0;
    color: white;
}

.about-p{
    font-size: 16px;
    line-height: 1.6;
}

.about-img{
    width: 60px;
    height: 60px;
}

.about-img2{
    width: 50px;
    height: 60px;
    padding-left: 10px;
}

.about-img3{
    padding-left: 20px;
    height: 60px;
}

.progress{
    margin-top: 38px;
}

progress{
    width: 100%;
}

progress::-webkit-progress-bar{
    background-color: rgb(245, 24, 24);
}

progress::-webkit-progress-value{
    background-color: rgb(234, 192, 65);
    color: rgb(234, 192, 65);
}

.prog-name{
    margin-bottom: 12px;
    letter-spacing: 1.5px;
}


