@font-face{
	font-family: Arial, Helvetica, sans-serif;
	src:url

}

.navclass{
	list-style-type: none;
	margin-top: 10px;
	padding: 0;
	overflow: hidden;
	background-color: #4d79ff;
	border-radius: 10px;
	width: 100%;
	
}
.navclass li{
	float: left;
}
.navclass li:hover{
	background-color:#002080;
}

.navclass a{
	display: block;
	color: white;
	height: 100%;
	padding: 10px;
	margin: 10px;
	text-decoration: none;
}

.navclass a:hover{
	color:aliceblue;
}

.mhead{
	align-items: center;
	width: 30rem;
	background-color: #99b3ff;
	border-radius: 5px;
	margin:auto;
}


body{
background-color: #ccd9ff;

}

.blocks{
	display:inline-block;
}

.forms{
	margin:auto;
	margin-bottom:20px;
	width:90%;
	background-color:  #99b3ff;
	border-color: #4d79ff;
	border-style: solid;
	font-family:arial;
	padding:10px;
	border-radius:10px;
}

img{
 	border-radius:10px;

}

.main2{
	background-color:#4d79ff;
	padding:0px 20px 0px 0px;
	margin:0px 0px 5px 0px;
	border-radius:10px;
	color:white;
	height:35px;
	color:#002080;
	margin-bottom:8px;
	padding-top:5px;
}

iframe{
	border-radius:15px;
}

caption{
	
	border:2px solid red; 
  	border-radius:5px 5px 0px 0px;
	
}

.captions{
	text-align:center;
}



table,th,td{

	border:2px solid blue;
	border-collapse:collapse;
	border-radius:0px 0px 5px 5px;
	
}

td:nth-child(odd), th:nth-child(odd){
	background-color:lightgray;
	color:black;

}

h2{
	text-align:center;
	margin:-5px;
}

th{
	color:#002080;
	text-align:center;
}

a{
	color:white;
}

a:hover{
	color:green;
}

td{
	text-align:center;
}

button{
	background-color:darkblue;
	color:white;
	border-radius:20px;

}


#tables{
	width:50%;height:50px; 
	background-color:#4d79ff;
	font-family:arial;
	color:white;
	
	
	}

pre{
	color:blue;
	
}

.poet{

font-family: 'Kalam', cursive;
font-size:20px;
}


.other{
	background-color:lightgreen;
	
	text-align:center;
	margin:auto;
	font-family:arial;
}




#font1{
	font-family: 'Roboto Condensed', sans-serif;
	font-size:20px;
	text-align:center;
	font-stretch:expanded;
	color:white;
}

#font1:hover{
	color:#002080;
}


.divss{

	background-color:red;
	color:white;
	width:100%;
	

}